# Node.js dependencies
/node_modules
/package-lock.json

# Environment variables
.env
spot_add_on/.env

# Logs
*.log

# Build artifacts
/dist
/build

# Docker-related files
docker-compose.override.yml

# Temporary files
*.tmp
*.swp
.DS_Store

# Ignore `.env` files in subdirectories
**/.env
